.main{
    padding-left: 2rem;
}
.main ul{
    margin: 0;
    padding: 0;
}
.main > ul {
    display: flex;
    position: relative;
    background-color: #ddd;
}
.main li:hover> a,
.main a:hover {
    text-decoration: underline;

}
.main li:hover > ul{
    opacity: 1;
    transform: translateY(0);
    pointer-events: inherit;
    
}
.main ul ul{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(1rem);
    transition: opacity 0.2s ease, transform 0.2s ease;
    display: flex;
}
.main li{
    list-style: none outside;
    display: block;
}
.main li a{
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    color: black;
}