.main{
    padding-left: 2rem;
    flex: 1 0 auto;
}
.main ul{
    margin: 0;
    padding: 0;
}
.main > ul {
    display: flex;
    position: relative;
    background-color: #ddd;
    align-items: stretch;
}
.main li:hover> a,
.main a:hover {
    background-color: #060;
    color: white;

}
.main li:hover > ul{
    opacity: 1;
    transform: translateY(0);
    pointer-events: inherit;
    
}
.main ul ul{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(1rem);
    transition: opacity 0.2s ease, transform 0.2s ease;
    display: flex;
}
.main li{
    list-style: none outside;
    display: block;
}
.main li a{
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    color: black;
}
.main ul ul li a{
    padding: 2rem 1rem 1rem 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.main ul ul li a i,
.main ul ul li a span{
    display: block;
}
.main ul ul li a .copy{
    font-weight: bold;
}
.main ul ul li a .desc{
    font-size: 0.9rem;
    font-style: italic;
    opacity: 0.8;
}