@import url("reset.css");
@import url("typography.css");
body{
    margin: 3rem;
    background: #eee;
}
h2{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: lighter;
    color: #333;
    letter-spacing: 3px;
}
p{
    color: #333;
}
.first{
    display: flex;
    justify-content: space-between;
}
.first div{
    border-left: 3px solid grey;
    margin-left: 1rem;
    padding-left: 1rem;
    width: 33%;
    box-sizing: border-box;    
}
.first div:first-of-type{
    width: 66%;
}
.first p{
    color: grey;
    padding: 0.5rem 0;
}
.second{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    
}
.second article{
    width: 33%;
    margin-left: 1rem;
}

.second article:last-of-type{
    background-image: url("https://images.unsplash.com/photo-1515169273894-7e876dcf13da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=450&q=80");
    background-repeat: no-repeat;
    background-size: contain;

}